
name: Deployment1

on:
  push:
    branches: [development , main]
jobs:
  
  Build_Development:
    if: github.ref == 'refs/heads/development'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install NPM
        run: sudo npm install -g npm@8.15.1

      - name: Set legacy-peer-deps
        run: sudo npm config set legacy-peer-deps true

      - name: Install dependencies
        run: |
          echo Installing source NPM dependencies...
          sudo npm install --force


      - name: Buid the application
        env:
          CI: false
        run: npm run build:dev
        
        
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-development
          path: build
  Build_Main:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install NPM
        run: sudo npm install -g npm@8.15.1

      - name: Set legacy-peer-deps
        run: sudo npm config set legacy-peer-deps true

      - name: Install dependencies
        run: |
          echo Installing source NPM dependencies...
          sudo npm install --force

      - name: Buid the application
        env:
          CI: false
        run: npm run build:prod
        
        
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-main
          path: build
      

  Deploy_Development:
    needs: Build_Development
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-development
          path: build
      - name: Deploy to Development
        if: github.ref == 'refs/heads/development'
        env:
          PRIVATE_KEY: ${{ secrets.sim_2025_PRIVATE_KEY }}
          HOSTNAME: ${{ secrets.sim_2025_HOSTNAME }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 400 private_key
          scp -o StrictHostKeyChecking=no -i private_key -r ./build ubuntu@${{ secrets.sim_2025_HOSTNAME }}:/tmp/aim_fe_build
          ssh -o StrictHostKeyChecking=no -i private_key ubuntu@${{ secrets.sim_2025_HOSTNAME }} '
            sudo rm -rf /var/www/html/sim-2025-fe/build &&
            sudo mv /tmp/aim_fe_build /var/www/html/sim-2025-fe/build &&
            cd /var/www/html/sim-2025-fe &&
            sudo git fetch origin &&
            sudo git checkout development &&
            sudo git pull origin development '
  Deploy_Main:
    needs: Build_Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-main
          path: build       
      - name: Deploy to Main
        if: github.ref == 'refs/heads/main'
        env:
          PRIVATE_KEY: ${{ secrets.ATL2_STG_PRIVATE_KEY }}
          HOSTNAME: ${{ secrets.ATL2_STG_HOSTNAME }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 400 private_key
          scp -o StrictHostKeyChecking=no -i private_key -r ./build ubuntu@${{ secrets.ATL2_STG_HOSTNAME }}:/tmp/aim_fe_build
          ssh -o StrictHostKeyChecking=no -i private_key ubuntu@${{ secrets.ATL2_STG_HOSTNAME }} '
            sudo rm -rf /var/www/html/aim_fe/build &&
            sudo mv /tmp/aim_fe_build /var/www/html/aim_fe/build &&
            cd /var/www/html/aim_fe &&
            sudo git checkout main &&
            sudo git pull origin main '

            

      
  
